
CIRpy==1.0.2
cycler==0.10.0
easydict==1.9
et-xmlfile==1.1.0
h5py==3.7.0
json5==0.9.8
jupyter==1.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-highlight-selected-word==0.2.0
jupyter-nbextensions-configurator==0.4.1
jupyter-server==1.18.0
jupyter-telemetry==0.1.0
keras==2.9.0
Keras-Applications==1.0.8
lightgbm==3.3.2
matlab==0.1
matplotlib==3.4.2
molsets==0.3.1
networkx==2.6.3
notebook-shim==0.1.0
numba==0.55.2
numpy==1.21.6
pandas==1.1.5
pathtools==0.1.2
Pillow==9.1.1
rdkit==2022.3.3
scanpy==1.9.1
scikit-image==0.19.3
scikit-learn==1.0.2
scikit-misc==0.1.4
scipy==1.7.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-addons==0.18.0
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-probability==0.18.0
tqdm==4.64.0
xlrd==1.2.0